{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Carousal
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <a class="btn btn-primary" href="{% url 'add_carousal' %}" role="button">+ Add Carousal</a> <br/>&nbsp;
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
        
        
        <div class="row">

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Manage Carousal</h3>

                        <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- /.card-header -->




            <div class="row">
                {% for item in Carousal %}
                <div class="col-md-4">
                  <div class="thumbnail shadow p-3 mb-5 bg-white rounded">
                    <a href="{% url 'edit_carousal' item.id %}">
                      <img src="{{item.carousal_image.url}}" alt="{{item.alt_txt}}" style="width:100%">
                      <div class="caption">
                        <p>{{item.caption}}</p>
                      </div>
                    </a>
                    <a href="{% url 'delete_carousal' item.id %}"><button class="btn text-center btn-danger">Delete</button></a>
                  </div>
                </div>
                {% endfor %}
              </div>

            </div>
            <!-- /.card -->

        </div>
    </div>

</div><!-- /.container-fluid -->
</section>

  {% endblock main_content %}

